* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('./images/pastel.png')no-repeat;
    background-size: cover;


}
h3 {
    color: rgba(230, 130, 238, 0.93);
    font-size: 70px;
    font-weight: bold;
    font-family: "Agency FB";
}
.container-fluid {
    color: white;
    background-color: deepskyblue;
    font-size: large;
}
p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 100px;
}


#pomocniP {
    padding-left: 120px;
    font-size: 20px;
    color: #55e6ec;
}

img {
   /* display: inline-block;*/
    padding-top: 5px;

}
#okej {
    color: #faa7c1;
    background-color: orange;
}

#dugmeLogin{
    position: fixed;
    right: 10px;
    top: 0px;
    color: rebeccapurple;
}

#dugmeLogin:hover{
    background-color: rebeccapurple;
    color: black;
    font-weight: bold;
}





