* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('loginpozadina.jpg')no-repeat;
    background-size: cover;


}


.login-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff;
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: #60e016;
    font-weight: bold;

}


.login-form p {
    font-size: 20px;
    margin: 15px 0;
}

.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 55px;
    background-color: rgb(216, 234, 70);

}


.login-form button {
    font-size: 18px;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    background-color: #60e016;
    color: #fff;
}

.login-form button:hover {
    background-color: rgb(202, 224, 22);
    color: black;
    font-weight: bold;
}

